html 
{
    --font: 'Montserrat', sans-serif;
    --mainTextColor:  rgb(49, 186, 208);
    --mainTextColorWithOpacity: rgba(49, 186, 208,0.95);
    --mainTextColorActif:#000000;
    --fondNav:url("img/fond-nav.jpg")!important;
    --fondFooter:url("img/fond.jpg")!important;
    --first-color: rgb(255, 221, 0,0.95) ;
    --second-color: rgb(231, 38, 122);
    --third-color: var(--mainTextColor);
    --fourth-color: rgb(230, 42, 46);
    --fifth-color: rgb(71, 176, 98);
    --sixth-color: rgb(111, 50, 126);
    --seven-color:rgb(198, 198, 198);
    --eight-color:rgb(218, 218, 218);
    --mainTextColorAdmin:  var(--mainTextColor);
    --mainOpacity:0.50;
    --mainOpacitySombre:0.70;
    --mainBodyTextColor:#fff;
    --mainBodyTextColorMobile:#fff;
    --backgroundColorBodyMobile:#333333;
    --mainLienColor:#fff;
    --textErreurColor:red;
    --textValideColor:#56F320;
    --textNULLColor:#474545;
    --textInputPeriodeColor:#fff;
    --backgroundInputPeriodeColor:var(--mainTextColor);
    --backgroundColorBtRectangle:rgb(95, 87, 87);
    --backgroundColorPotentio:#d3d3d3;
    --mainOpacityPotentio:0.7;
    --mainOpacityPotentioHover:1;
    --mainTransitionPotentio:opacity .2s;
    --mainTransitionWebkitPotentio:.2s;
    --backgroundColorPlayerVideo:rgba(2, 2, 2,1);
    --backgroundColorSelectionEcran:var(--mainTextColor);
    --mainOpacityBtDesactive:0.2;
    --mainOpacityBtPeriode:0.3;
    --mainOpacitySurvolBt:0.5;
    --mainTransitionSurvolBt:0.13s ease-in-out;
    --mainOpacityProgressBar:1.0;
    --mainColorEditer:transparent;
    --colorCadreIframe:#5a5a5a;
    --textColorChoixEcran:black;
   /* --colorBtConnexion:#44c767;
    --colorBtConnexionHover:#5cbf2a;*/
    --colorBtConnexion: var(--mainTextColor);
    --colorBtConnexionHover: rgb(38, 151, 168);
    --colorBorderBtConnexionHover:var(--mainTextColor);
    --colorBorderBtInscriptionHover:var(--mainTextColor);
    --colorBtInscriptionHover: rgba(255, 255, 255, 0.8);
    --transitionBtConnexion:0.4s;
    --backColorMessageRecapPlayerSelect:gold;
    --opacityMessageRecapPlayerSelect:0.55;
    --colorTexteMessageRecapPlayerSelect:black;
    --backgroundColorDivConnexion:rgba(2, 2, 2,var(--mainOpacitySombre));
    --textcolorDivConnexion:var(--mainBodyTextColor);
    --alignementInputConnexion:center;
    --widthDivConnexion:50%;
    --heightDivConnexion:55%;
    --widthInputConnexion:55%;
    --heightInputConnexion:10%;
    --boxShadowDivConnexion: 5px 5px 5px  black;
    --borderWidthInputConnexion:  0 0 0 0 ;
    --colorTextBtConnexion:#fff;
    --borderRadiusBtConnexion:50px;
    --marginRightLeftConnexion:0%;
    --marginRightBtConnexion:0%;
    --colorTexteMsgPatience:#fff;
    --widthLogoHeader:75%;
    --backgroundColorProgress:gray;
    --backgroundColorProgressBar:#fff;
    --backgroundColorProgressBarComplete:#1eb553;
    --backgroundColorProgressBarLoading:#da8507;
    --textColorProgress:rgba(0, 0, 0, 0.7);
    --colorProgressBar:#D8D8D8;
    --colorProgressBarBaricon : #fff;
    --colorProgressBarPageActuel :#1ad10b; 
    --colorProgressBarNotPageActuel :#12cee8;
    --colorBackgroundClickEyesMdp :rgba(178,179,177,0.5);
    --backgroundColorInput:#fff;
    --textColorEditerDefault:#fff;
    --backgroundColorSection:rgba(2, 2, 2,var(--mainOpacity));
    --backgroundColorSectionSombre:rgba(27, 27, 29,var(--mainOpacitySombre));
    --backgroundColorBoitePatience:rgba(0, 0, 0,0.90);
    --boxShadowBtMenuAdmin: 5px 5px 5px 5px black;
    --backgroundColorBtMenuAdmin: var(--mainTextColorWithOpacity);
    --boxShadowVisu: 5px 5px 5px rgba(0,0,0,0.1);
    --backgroundColorBtFooterWithopacity: rgba(198, 198, 198,0.55);
    --widthLogoNavAdmin:130px;
    --backgroundColorWidget:transparent;
    --colorTexteRSS:#0080FF;
    --colorDarkMode:rgb(48, 49, 53);
    --textDarkMode:#fff;
}