.ajs-dialog, .ajs-body, .ajs-footer {
    border-radius: 5px;
}

.ajs-header {
    font-size: 20px;
}

.ajs-dialog {
    border : 2px solid white;
    border-width: 2px;
}

.ajs-ok, .ajs-cancel {
    border-radius: 3px;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.ajs-close {
    background-color: #ff00005e !important;
}

.ajs-close:hover {
    background-color: red !important;
    transition: 0.3s;
}

.ajs-ok:hover {
    border-radius: 3px;
    box-shadow: -2px 3px 7px 0px white;
    transition: 0.3s;
}

.ajs-cancel:hover {
    border-radius: 3px;
    box-shadow: -2px 3px 7px 0px white;
    transition: 0.3s;
}

.ajs-input {
    border-radius: 3px;
}

html 
{
    --mainTextColor: rgb(0, 128, 255);
    --mainTextColorWithOpacity: rgba(0, 128, 255,0.95);
    --mainTextColorActif:#fff;
    --first-color: var(--mainTextColor);
    --third-color: rgb(255, 221, 0);
    --mainOpacity:0.83;
    --colorBtConnexionHover: rgb(13, 93, 173);
    --boxShadowDivConnexion: 0px 0px 0px black;
    --widthLogoHeader:45%;
}